/* 背景渐变 */
/* #web_bg{
    /*紫粉渐变*/
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    /*粉白蓝*/
    /* background-image: linear-gradient(-225deg, #dfbacd 0%, #B8DCFF 48%, #58abf3 100%); */
/*  } */
#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.3) 0,
    rgba(243, 112, 85, 0.3) 15%,
    rgba(239, 78, 123, 0.3) 30%,
    rgba(161, 102, 171, 0.3) 44%,
    rgba(80, 115, 184, 0.3) 58%,
    rgba(16, 152, 173, 0.3) 72%,
    rgba(7, 179, 155, 0.3) 86%,
    rgba(109, 186, 130, 0.3) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.3) 0,
    rgba(243, 112, 85, 0.3) 15%,
    rgba(239, 78, 123, 0.3) 30%,
    rgba(161, 102, 171, 0.3) 44%,
    rgba(80, 115, 184, 0.3) 58%,
    rgba(16, 152, 173, 0.3) 72%,
    rgba(7, 179, 155, 0.3) 86%,
    rgba(109, 186, 130, 0.3) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.3) 0,
    rgba(243, 112, 85, 0.3) 15%,
    rgba(239, 78, 123, 0.3) 30%,
    rgba(161, 102, 171, 0.3) 44%,
    rgba(80, 115, 184, 0.3) 58%,
    rgba(16, 152, 173, 0.3) 72%,
    rgba(7, 179, 155, 0.3) 86%,
    rgba(109, 186, 130, 0.3) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.3) 0,
    rgba(243, 112, 85, 0.3) 15%,
    rgba(239, 78, 123, 0.3) 30%,
    rgba(161, 102, 171, 0.3) 44%,
    rgba(80, 115, 184, 0.3) 58%,
    rgba(16, 152, 173, 0.3) 72%,
    rgba(7, 179, 155, 0.3) 86%,
    rgba(109, 186, 130, 0.3) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.3) 0,
    rgba(243, 112, 85, 0.3) 15%,
    rgba(239, 78, 123, 0.3) 30%,
    rgba(161, 102, 171, 0.3) 44%,
    rgba(80, 115, 184, 0.3) 58%,
    rgba(16, 152, 173, 0.3) 72%,
    rgba(7, 179, 155, 0.3) 86%,
    rgba(109, 186, 130, 0.3) 100%
  );
}